@(productForm: Form[Product])

@import helper._
@import helper.twitterBootstrap._

@main("Product form") {
    <h1>Product form</h1>
    <table>
        <tbody>
            <td>
            @helper.form(action = routes.Products.save()) {
                <input type="hidden" value="@productForm("id").valueOr("")" name="id"/>
                <fieldset>
                    <legend>Product (@productForm("name").valueOr("New"))</legend>
                    @helper.inputText(productForm("ean"), '_label -> "EAN")
                    @helper.inputText(productForm("name"), '_label -> "Name")
                    @helper.textarea(productForm("description"), '_label -> "Description")
                    @helper.inputText(productForm("remainProduct"), '_label->"REMAIN PRODUCT")
                    @helper.inputText(productForm("price"), '_label->"PRICE")
                </fieldset>

                <div class="control-group">
                    <div class="controls">
                        <input name="tags[0].id" value="1" type="checkbox"
                        @for(i <- 0 to 2) {
                            @if(productForm("tags[" + i + "].id").value == "1") { checked }
                        } > Samsung
                        <input name="tags[1].id" value="2" type="checkbox"
                        @for(i <- 0 to 2) {
                            @if(productForm("tags[" + i + "].id").value == "2") { checked }
                        } > HTC
                        <input name="tags[2].id" value="3" type="checkbox"
                        @for(i <- 0 to 2) {
                            @if(productForm("tags[" + i + "].id").value == "3") { checked }
                        } > LG
                    </div>
                </div>

                <input type="submit" class="btn btn-primary" value="Save">
                <a href="@routes.Products.list()" class="btn btn-primary">Cancel</a>
            }
            </td>
            <td>
                <img src="@routes.Assets.at("images/samsung_edge.png")" width="500" height=450" />
            </td>
        </tbody>
    </table>
}