@(products: List[Product])
@main("Products catalogue") {
    <h2>All products</h2>

    <script>
    function del(urlToDelete) {
        $.ajax ( {
            url : urlToDelete,
            type : 'DELETE',
            success : function ( results ) {
                // Refresh the page
                location.reload ( ) ;
            }
        } ) ;
    }
    </script>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>EAN</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        @for(product <- products) {
            <tr>
                <td>
                    <a href="@routes.Products.details(product)">@product.ean</a>
                    <img src="@routes.Assets.at("images/samsung1_edge.png")" width="50" height="50" />
                </td>
                <td><a href="@routes.Products.delete(product.ean)">@product.name</a></td>
                <td><a href="@routes.Products.details(product)">@product.description</a></td>
                <td><a href="@routes.Products.details(product)">@product.price</a></td>
                <td><a onclick="del('@routes.Products.delete(product.ean)')">
                    <span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        }
        </tbody>
        <a href="@routes.Tags.listTags()" class="btn btn-primary">Browser by Tag</a>
    </table>

    <a href="@routes.Products.newProduct()" class="btn btn-primary">New product</a>
}