@(product: Product)

@import helper._
@import helper.twitterBootstrap._

@main("Product form") {
    <h1>Product Information</h1>
    <p>@product.name</p>

    <table class="table table-striped">
        <body>
            <table border="1" bordercolor="black" bgcolor="yellow" width="700" height="500">
                <tr>
                    <td rowspan="5"><img src="@routes.Assets.at("images/samsung_edge.png")" width="555" height="495" /></td>
                    <td>Name: @product.name</td>
                </tr>
                <tr>
                    <td>Description: @product.description</td>
                </tr>
                <tr>
                    <td>Price: @product.price</td>
                </tr>
                <tr>
                    <td>Remain Product: @product.remainProduct</td>
                </tr>
                <tr>
                    <td>Manufature: </td>
                </tr>
            </table>
        </body>
    </table>
    <a href="@routes.Products.edit(product)" class="btn btn-primary">Edit</a>
    <a href="@routes.Products.list()" class="btn btn-primary">Back</a>
}