@(tagProduct: List[Product])

@import helper._
@import helper.twitterBootstrap._

@main("Product form") {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Image</th>
                <th>Price</th>
                <th>Remain Product</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
        @for(product <- tagProduct) {
            <tr>
                <td>@product.name</td>
                <td><img src="@routes.Assets.at("images/samsung1_edge.png")" width="50" height=50" /></td>
                <td><a href="@routes.Products.details(product)">@product.price</a></td>
                <td><a href="@routes.Products.details(product)">@product.remainProduct</a></td>
            </tr>
        }
        </tbody>
    </table>
    <a href="@routes.Tags.listTags()" class="btn btn-primary">Back</a>
}